@import "tailwindcss";
@import "@repo/ui/styles.css";

/**
 * Tailwind CSS official document:
 * https://tailwindcss.com/docs/detecting-classes-in-source-files
 *
 * if you ever need to explicitly add a source that's excluded by default,
 * you can always add it with the @source directive.
 */
@layer base {
    :root {
        font-family: "Inter", sans-serif;
    }

    body {
        font-family: inherit;
    }
}
